* {
  box-sizing: border-box;
  font-family: unset;
  font-size: unset;
  outline: none;
}

body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 2em;

  font-family: monospace;
}

h1 {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2em;
}

h2 {
  margin: 0;
  font-size: 1.25em;
}

button {
  background-color: black;
  border: 0;
  color: white;
  box-shadow: -2px 2px 0 black;
  transition: 0.25s ease;
  cursor: pointer;
}

input {
  border: 1px solid black;
  box-shadow: -2px 2px 0 black;
  transition: 0.25s ease;
}

button, input {
  padding: 2px 5px;
}

button:hover, button:target, input:focus {
  box-shadow: -4px 4px 0 black;
}
